__pycache__/
*.pyc
*.py[codz]
.env
.envrc
.venv
venv/
venv.bak/
env/
ENV/
.DS_Store
*.egg-info/
*.txt
lm-studio/
.vscode/
build/
dist/
*.spec
*.manifest
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage